extends ../layout

block content
  h1.
    #{title}
  ul
    - each interest, i in interests
      div.row
        form(id='update', name='update', method='post', action='/interests/delete')
            input(type='hidden',name='id',value=interest._id)
            input(type='text',name='amount',value=interest.amount)
            input(type='text',name='days',value=interest.days)
            input(type='text',name='interest',value=interest.interest)
            input(type='text',name='active',value=interest.active)
            input(type='text',name='created_at',value=interest.created_at)
            input(type='text',name='finish_at',value=interest.finish_at)
            div.actions
                a(href='/',class='editInterest') Edit
                a(href='/',class='deleteInterest') Delete
                input(type='submit',value='Delete')
    div.add_interest
      form(id='add_interest', name='add_interest', method='post', action='/interests/add')
        div.input
            span.label Amount
            input(type='text',id='amount', name='amount')
        div.input
            span.label Days
            input(type='text', name='days')
        div.input
            span.label Interest
            input(type='text', name='interest')
        div.input
            span.label Active
            input(type='text', name='active')
        div.actions
          a(href='/',class='addInterest') Add Interest
          input(type='submit',value='Add')