extends ../layout

block content
  h1.
    #{title}
  div.add_interest
    form(id='add_interest', name='add_interest', method='post', action='/interests/add')
      div.input
        input(type="text" id="period" name="period" class="form-control" placeholder="Period" required="" autofocus="")
      div.input
        input(type="text" id="rate" name="rate" class="form-control" placeholder="Rate" required="" autofocus="")
      div.input
        input(type="text" id="active" name="active" class="form-control" placeholder="Active" required="" autofocus="")
      div.actions
        a(href='#',class='addInterest') Add Interest
  div.table-responsive
    table.table.table-striped
      thead
        tr
          th Period
          th Rate
          th Active
          th Created
          th Actions
      tbody
        each interest, i in interests
          tr
            form(id='update', name='update', method='post')
              td
                input(type='hidden',name='id',value=interest._id)
                input(type='text',name='period',value=interest.period)
              td
                input(type='text',name='rate',value=interest.rate)
              td
                input(type='text',name='active',value=interest.active.toString())
              td
                input(type='text',name='created_at',value=interest.created_at)
              td
                div.actions
                    a(href='#',class='editInterest') Edit
                    a(href='#',class='deleteInterest') Delete
