extends ../layout

block content
  h2 #{title}

  div.table-responsive
  table.table.table-striped
    thead
      tr
        th Sell
        th Buy
        th Date
    tbody
        each currency, i in currencies
          tr
            td
              input(type='readonly',value=currency.sell)
            td
              input(type='readonly',value=currency.buy)
            td
              input(type='readonly',value=currency.created_at)
            td
              input(type='readonly',value=currency._id)