extends ../layout

block content
    h1.
         #{title}
    ul
        - each currency, i in currencies
            li
                input(type='readonly',value=currency.buy)
                input(type='readonly',value=currency.sell)
                input(type='readonly',value=currency.created_at)
                input(type='readonly',value=currency._id)