extends ../layout

block content
  h2 #{title}
  script.
    var index_sell = [];
    var index_buy = [];
    var dates = [];
  div.current-currency
  each currency, i in currencies
    if i == 0
      div.input
        label(for="sell" class="sr-only") Venta
        input(type="text" id="sell" class="form-control" value=currency.sell readonly=true)
      div.input
        label(for="buy" class="sr-only") Compra
        input(type="text" id="buy" class="form-control" value=currency.buy readonly=true)
    script.
      var label = new Date("#{currency.created_at}");
      dates.unshift(label);
      index_sell.unshift(parseFloat("#{currency.sell}"));
      index_buy.unshift(parseFloat("#{currency.buy}"));
  div#chart_div
    script.
      google.charts.load('current', {packages: ['corechart', 'line']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Buy');
            data.addColumn('number', 'Sell');
            //- data.addColumn('number', 'sell');
            var test = dates.map(function(v,i) {return [v, index_buy[i],index_sell[i]];});
            data.addRows(test);

            var options = {
              hAxis: {
                title: 'Date'
              },
              vAxis: {
                title: 'Price'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
          }