extends ../layout

block content
  h2 #{title}
  script.
    var categories = ['Sell'];
    var dataset = [];
    var date;
  div.table-responsive
  table.table.table-striped
    thead
      tr
        th Sell
        th Buy
        th Date
    tbody
      each currency, i in currencies
        script.
          date = "#{currency.created_at}";
          var label = "#{currency.created_at.getMonth()}/#{currency.created_at.getDay()}";
          dataset.push({'label':label,'value':"#{currency.sell}"});
        tr
          td
            input(type='readonly',value=currency.sell)
          td
            input(type='readonly',value=currency.buy)
          td
            input(type='readonly',value=currency.created_at)
          td
            input(type='readonly',value=currency._id)
  div#chart-location
    script.
      var chartProperties = {
        "caption": "USD vs CRC",
        "numberprefix": "Rs",
        "xAxisName": "Month",
        "yAxisName": "Price"
      };
      var categoriesArray = [{
        "category" : categories
      }];
      var lineChart = new FusionCharts({
        type: 'msline',
        renderAt: 'chart-location',
        width: '800',
        height: '600',
        dataFormat: 'json',
        dataSource: {
          chart: chartProperties,
          categories : categoriesArray,
          dataset : dataset
        }
      });
      lineChart.render();