extends ../layout

block content
  h2 #{title}
  script.
    var index_sell = [];
    var index_buy = [];
    var dates = [];
  div.current-currency
  each currency, i in currencies
    if i == 0
      div.input
        label(for="sell" class="sr-only") Venta
        input(type="text" id="sell" class="form-control" value=currency.sell readonly=true)
      div.input
        label(for="buy" class="sr-only") Compra
        input(type="text" id="buy" class="form-control" value=currency.buy readonly=true)
    script.
      var label = "#{currency.created_at.getMonth()}/#{currency.created_at.getDay()}";
      dates.unshift(label);
      index_sell.unshift("#{currency.sell}");
      index_buy.unshift("#{currency.buy}");
  div.ct-chart
  script.
    new Chartist.Line('.ct-chart', {
      labels: dates,
      series: [index_sell,index_buy]
    }, {
      fullWidth: true,
      chartPadding: {
        right: 40
      },
      height: '500px'
    });