extends ../layout

block content
  h2 #{title}
  div.add_cdp
    form(id='add_cdp', name='add_cdp')
      div.input
        input(type="text" id="amount" name="amount" class="form-control" placeholder="Amount" required="" autofocus="")
      div.input
        input(type="text" id="days" name ="days" class="form-control" placeholder="Days" required="" autofocus="")
      div.input
        input(type="text" id="interest" name="interest" class="form-control" placeholder="Interest" required="" autofocus="")
      div.input
        input(type="text" id="active" name="active" class="form-control" placeholder="Active" required="" autofocus="")
      div.actions
        a(href='#',class='addCDP') Add CDP
  div.table-responsive
    table.table.table-striped
      thead
        tr
          th Amount
          th Days
          th Interest
          th Active
          th Creation date
          th Finish date
          th Actions
      tbody
          each cdp, i in cdps
            tr
              form(id='update', name='update')
                td
                  input(type='hidden', name='id',value=cdp._id)
                  input(type='text', name='amount',value=cdp.amount)
                td
                  input(type='text', name='days',value=cdp.days)
                td
                  input(type='text', name='interest',value=cdp.interest)
                td
                  input(type='text', name='active',value=cdp.active)
                td
                  input(type='text', name='created_at',value=cdp.created_at)
                td
                  input(type='text', name='finish_at',value=cdp.finish_at)
                td
                  a(href='#',class='editCDP') Edit
                  a(href='#',class='deleteCDP') Delete
