extends ../layout

block content
    h1.
         #{title}
    ul
        - each cdp, i in cdps
            li
                input(type='readonly',value=cdp.amount)
                input(type='readonly',value=cdp.days)
                input(type='readonly',value=cdp.interest)
                input(type='readonly',value=cdp.active)
                input(type='readonly',value=cdp.created_at)
                input(type='readonly',value=cdp.finish_a)
                input(type='readonly',value=cdp._id)