extends ../layout

block content
  h2.
    #{title}

  div.table-responsive
    table.table.table-striped
      thead
        tr
          th Amount
          th Days
          th Interest
          th Active
          th Creation date
          th Finish date
          th Actions
      tbody
        tr
          - each cdp, i in cdps
            form(id='update', name='update', method='post', action='/cdps/delete')
              td
                input(type='hidden',name='id',value=cdp._id)
                input(type='text',name='amount',value=cdp.amount)
              td
                input(type='text',name='days',value=cdp.days)
              td
                input(type='text',name='interest',value=cdp.interest)
              td
                input(type='text',name='active',value=cdp.active)
              td
                input(type='text',name='created_at',value=cdp.created_at)
              td
                input(type='text',name='finish_at',value=cdp.finish_at)
              td
                a(href='/',class='editCDP') Edit
                a(href='/',class='deleteCDP') Delete
                input(type='submit',value='Delete')
    div.add_cdp
      form(id='add_cdp', name='add_cdp', method='post', action='/cdps/add')
        div.input
            span.label Amount
            input(type='text',id='amount', name='amount')
        div.input
            span.label Days
            input(type='text', name='days')
        div.input
            span.label Interest
            input(type='text', name='interest')
        div.input
            span.label Active
            input(type='text', name='active')
        div.actions
          a(href='/',class='addCDP') Add CDP
          input(type='submit',value='Add')