extends ../layout

block content
  h2 #{title}
  script.
    var index_gold = [];
    var index_silver = [];
    var index_aluminum = [];
    var index_copper = [];
    var index_diesel = [];
    var index_gasoline = [];
    var dates = [];
  each obj, i in metals
    script.
      var type = "#{obj.metal}";
      switch(type){
        case "copper":{
          index_copper.unshift(parseFloat("#{obj.price}"));
          break;
        }
        case "gold":{
          var label = new Date("#{obj.created_at}");
          dates.unshift(label);
          index_gold.unshift(parseFloat("#{obj.price}"));
          break;
        }
        case "silver":{
          index_silver.unshift(parseFloat("#{obj.price}"));
          break;
        }
        case"aluminum":{
        index_aluminum.unshift(parseFloat("#{obj.price}"));
          break;
        }
        case"diesel":{
        index_diesel.unshift(parseFloat("#{obj.price}"));
          break;
        }
        case"gasoline":{
        index_gasoline.unshift(parseFloat("#{obj.price}"));
          break;
        }
      }
  h3 Metals
  div#chart_metals
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v,index_gold[i],index_silver[i],index_aluminum[i],index_diesel[i],index_gasoline[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_metals'));

          chart.draw(data, options);
        }
  h3 Gold
  div#chart_gold
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_gold[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Gold'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_gold'));

          chart.draw(data, options);
        }
  h3 Silver
  div#chart_silver
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_silver[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Silver'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_silver'));

          chart.draw(data, options);
        }
  h3 Aluminum
  div#chart_aluminum
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_aluminum[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Aluminum'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_aluminum'));

          chart.draw(data, options);
        }
  h3 Copper
  div#chart_copper
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_copper[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Copper'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_copper'));

          chart.draw(data, options);
        }
  h3 Gasoline
  div#chart_gasonline
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_gasoline[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Gasoline'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_gasonline'));

          chart.draw(data, options);
        }
  h3 Diesel
  div#chart_diesel
  script.
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Price');
          //- data.addColumn('number', 'sell');
          var values = dates.map(function(v,i) {return [v, index_diesel[i]];});
          data.addRows(values);

          var options = {
            hAxis: {
              title: 'Date'
            },
            vAxis: {
              title: 'Price Diesel'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_diesel'));

          chart.draw(data, options);
        }